.cabecalho{


    width: 100vw;
    height: 71px;
    background-color:blue ;
}

.img{ 
    
    width: 1680px;
    height: 427px;
    object-fit: cover; /*manter o enquadramento sem distorcer*/

}

.image-container {
    width: 1920px; /* Define a largura do container */
    height: 71px; /* Define a altura */
    margin: 0 auto; /* Centraliza */
    overflow: hidden; /* Evita que a imagem ultrapasse */
    border-radius: 10px; /* Cantos arredondados (opcional) */
}

.image-container img {
    width: 100%; /* Faz a imagem ocupar todo o container */
    height: 100%;
    object-fit: cover; /* Mantém a proporção e corta o excesso */

}



.image {

 
    

}

img {
    width: 1680px;  /* Largura fixa (ou use %) */
    height: 427px;  /* Mantém a proporção */
    display: block;  /* Remove espaços extras */
    margin: 20px auto;  /* Centraliza */
    border-radius: 10px;  /* Bordas arredondadas (opcional) */
}

.thor {

    margin-top: 80px;
    width: 80%;
    margin-bottom: 120px;

}



 
    
.titulo2 {

margin-left: 150px;

}

.titulo1 {

margin-left: 150px;

}